<div class="col-2 offset-1 align-self-center mt-2 mb-2">
  <img src="/static/img/logo.png" alt="AskMovsesov" class="img-fluid" />
</div>
<div class="col-4 offset-1 align-self-center">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Найти...">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button">Искать!</button>
    </span>
    <button class="btn btn-success ml-4">Спросить</button>
  </div>
</div>
<div class="col-1 offset-1 align-self-center mt-2 mb-2">
  <img src="/static/img/tux.png" class="img-thumbnail rounded float-left" />
</div>
<div class="col-2 align-self-center mt-2 mb-2">
  <div class="row">
    <div class="col-12 align-self-center">
      <span>Alex Movsesov</span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6 align-self-center">
      <a href="settings" class="btn btn-primary">Settings</a>
    </div>
    <div class="col-6 align-self-center">
      <a href="settings" class="btn btn-primary">Logout</a>
    </div>
  </div>
</div>